*.o
*.exe
openssh/Makefile
openssh/autom4te.cache/
openssh/buildpkg.sh
openssh/config.h
openssh/config.h.in
openssh/config.log
openssh/config.status
openssh/configure
openssh/libssh.a
openssh/moduli.5.out
openssh/moduli.out
openssh/openbsd-compat/Makefile
openssh/openbsd-compat/libopenbsd-compat.a
openssh/openbsd-compat/regress/Makefile
openssh/openssh.xml
openssh/opensshd.init
openssh/scp.1.out
openssh/sftp-server.8.out
openssh/sftp.1.out
openssh/ssh-add.1.out
openssh/ssh-agent.1.out
openssh/ssh-keygen.1.out
openssh/ssh-keyscan.1.out
openssh/ssh-keysign.8.out
openssh/ssh-pkcs11-helper.8.out
openssh/ssh.1.out
openssh/ssh_config.5.out
openssh/ssh_config.out
openssh/sshd.8.out
openssh/sshd_config.5.out
openssh/sshd_config.out
openssh/survey.sh
minimal_tree/*
